# Dependencies
node_modules/

# Next.js build output
.next/

# Capacitor / Native build
android/
ios/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
Thumbs.db
